body {
}

/* Стили для всего докомента */

.mainContent{
    float: left;
    height: 100%;
    width: 100%;
}

.timetable{
    height: 100%;
    float: left;
    width: 80%;
}

.sidePanel{
    width: 20%;
    height: 100%;
    float: left;
    margin-top: 0px;
}

.recordDate{
    width: 100% - 4px;
    height: 100%;
    background-color: aqua;
    text-align: center;
}

/* Стили для поля выбора даты */

.recordDate{
    background-color: #e7e6e6;
    border: 2px solid #253a3b;
  }

.recordDateInner{
    display: inline-block;
    padding-bottom: 7%;
}

.recordDateInner h1{
    font-family: "Arial", sans-serif;
    font-size: 150%;
}

.recordDateInner input[type="date"] {
    font-size: 170%; 
  }

/* Стили для списка "Специалисты" */


.workersList{
    background-color: #e7e6e6;
    border: 2px solid #253a3b;
}

.workersListUl li{
    display: flex; 
    width: 90%;
    margin-bottom: 1px;
    background-color: white;
    border: 1px solid #253a3b;
}

.workersListUl li > * {
    margin-right: 5px;
}

#workersListTitle {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 10px;
    text-align: center; 
  }

#sidePanelTitle{
    margin-right: 15px;
    margin-left: 28%;
    font-size: 150%;
    font-family: "Arial", sans-serif;
}


#filter{
    display: inline-block;
    margin-top: 9%;
    height: 20px;
    width: 20px;
}

/* Стили для рассписания работы */

.timetableTitle{
    width: 100%;
    height: 100%;
    font-family: "Arial", sans-serif;
    background-color: #e7e6e6;
    border: 2px solid #253a3b;
}

.timetableTitle h1{
    margin-left: 20px;
    font-size: 170%;
}

.timetableContent{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    height: 20%;
    background-color: #e7e6e6;
    border: 2px solid #253a3b;
}

.timetableContent li{
    display: inline-block;
    margin-right: 30px;
}

.schedule{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: aqua;
    padding-top: 0;
    width: 200px;
}

.schedule li{
    background-color: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-left: -50px;
    margin-right: -10px;
    font-size: 18px;
    color: black;
}

.schedule li:hover{
    background-color: #ddd;
}

.oneWorker{
    color: #ddd;
    background-color: #A9A9A9;
    display: flex;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
}

.date{
    background-color: #393939;
    width: 100%;
    margin-top: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: large;
}

.FIO{
    background-color: #6D6D6D;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
}
