<style>

body {
    height: 100%;
    width: 100%;
}

/* Стили для всего докомента */

.mainContent{
    float: left;
    height: 100%;
    width: 100%;
}

.timetable{
    height: 100%;
    float: right;
    width: 80%;
    background-color: yellow;
}

.sidePanel{
    width: 20%;
    height: 100%;
    float: left;
    margin-top: 0px;
}

.recordDate{
    width: 100% - 4px;
    height: 100%;
    background-color: aqua;
    text-align: center;
}

/* Стили для поля выбора даты */

.recordDate{
    background-color: #e7e6e6;
    border-radius: 5px;
    border: 2px solid #253a3b;
  }

.recordDateInner{
    display: inline-block;
    padding-bottom: 7%;
}

.recordDateInner h1{
    font-family: "Arial", sans-serif;
    font-size: 150%;
}

.recordDateInner input[type="date"] {
    font-size: 170%; 
  }

/* Стили для списка "Специалисты" */


.workersList{
    background-color: #e7e6e6;
    border-radius: 5px;
    border: 2px solid #253a3b;
}

.workersListUl li{
    display: flex; 
    width: 90%;
    margin-bottom: 1px;
    background-color: white;
    border: 1px solid #253a3b;
}

.workersListUl li > * {
    margin-right: 5px;
}

#title {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 10px;
    text-align: center; 
  }

#sidePanelTitle{
    margin-right: 15px;
    margin-left: 20%;
    font-family: "Arial", sans-serif;
}


#filter{
    display: inline-block;
    margin-top: 9%;
    height: 20px;
    width: 20px;
}



</style>